<nav class="navbar navbar-default" role="navigation">
  <div class="container">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Consumer Tadka", root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home", root_path %></li>
      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gyaan<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Auto</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Telecom</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Real Estate</a></li>
            <li class="divider"></li>
            <li><%= link_to "Full Gyaan", gyaan_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Threads<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Auto</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">Telecom</a></li>
            <li><a href="#">Technology</a></li>
            <li><a href="#">Travel</a></li>
            <li><a href="#">Real Estate</a></li>
            <li class="divider"></li>
            <li><%= link_to "Threads Base", threads_path %></li>
          </ul>
        </li>
        <% if user_signed_in? %>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "Account Settings", edit_user_registration_path %></li>
      <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
      </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- / .container -->
</nav>